.scrollhost::-webkit-scrollbar {
    display: none;
}

.scrollhost-container {
    position: relative;
    height: 100%;
}
.scrollhost {
    overflow: auto;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
}

.scroll-bar {
    width: 15px;
    height: 100%;
    right: 0;
    top: 0px;
    position: absolute;
    border-radius: 20px;
    bottom: 0px;
    background-color: transparent;
    margin-right: 10px;
}

.scroll-thumb {
    width: 7px;
    height: 20px;
    margin-left: 1px;
    position: absolute;
    border-radius: 7px;
    opacity: 1;
    top: 0;
    left: 3px;
    background-color: #7B7B7C;
}
.scroll-bar:hover .scroll-thumb{
    background-color: #07A5CD;
}

.scroll-bar:hover, .scroll-bar:active{
    background-color: #414141;
}
.scroll-thumb:hover, .scroll-thumb:active{
    background-color: #07A5CD;
}
